h1 {
  font-size: 48px;
  margin: 0;
}

.subtitle {
  font-size: 14px;
  color: #999;
  margin: 0;
  margin-bottom: -5px;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
}

.minjang {
  width: auto;
  height: auto;
  max-width: 90vw;
  max-height: 80vh;
  outline: none;
  user-select: none;
  -webkit-user-drag: none;
}

.score {
  font-size: 20px;
  margin-bottom: 10px;
}

.nickname {
  font-size: 16px;
  color: #666;
  margin: 5px 0;
}

